*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0 0 0);
}
.grid-container{
    display:grid;
    grid-template-columns:1fr;
}
/* Section 1 */
.main{
    background-image: url(Assets/images/bgc.jpg);
    background-position:center center;
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows:repeat(3,1fr);
    height:80vh;
    position: relative;
    z-index: 0;
    border-bottom:8px solid  rgb(116 112 112);
}
.main .box{
    height:80vh;
    width:100%;
    opacity:0.54;
    background-color: black;
    position:absolute;
    top:0;
}
nav{
    height:100px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    grid-column:span 3;
}
.english_button{
    height:35px;
    width:120px;   
    color:rgb(255, 255, 255);
    background-color: black; 
    border:1px solid white;
    font-size:16px;
    border-radius:5px;
    margin-right:20px;
}
.english_button img{
    position:relative;
    top:3px;
    right:5px;
}
.sign_in{
    height:40px;
    width:80px;
    background-color: rgb(229, 9, 20,1);  
    color:rgb(255, 255, 255);
    font-size:16px;
    border-radius:5px;
    border:none;
}
.sign_in:hover{
    background-color: rgb(193, 17, 25,1);
    cursor: pointer;
}
.english_button:hover{
    cursor: pointer;
}
.logo{
    position:relative;
    z-index:10;
}
.form{
    position:relative;
    color:white;
    grid-column:span 3;
   text-align:center
}
.form h1{
    font-size:3.4em;
    padding-bottom:19px;
    font-weight:bolder;
}
.form p:nth-child(2){
    font-size:1.6em;
    font-weight:lighter;
    padding-bottom:19px;
}
.form p:nth-child(3){
    font-size:1.4em;
    padding-bottom:19px;
}
.email{
    height:50px;
    width:370px;
    background-color: rgb(23,23,23,0.3);
    border:1px solid rgb(228, 228, 227);
    color:white;
    font-size:1em;
    font-weight:bold;
    padding-left:10px;
    border-radius:5px;
}
.get_started{
    height:53px;
    width:200px;
    border-radius:5px;
    position:relative;
    top:6px;
    border:none;
    font-size:1.4em;
    font-weight:bold;
    color:white;
    background-color:rgb(229, 9, 20);
}
.get_started:hover{
    background-color: rgb(193, 17, 25,1);
}
.get_started img{
    position:relative;
    top:4px;
}
nav button{
    position:relative;
    z-index: 10;
}

/* section 2 */
.section2 .cover,.section4 .cover{
    display:flex;
    padding-left:250px;
    padding-top:50px;
    padding-bottom:100px;
    border-bottom:8px solid rgb(116 112 112);
}
.section2 .header,.section4 .header{
    color:white;
    margin-top:100px;
    max-width:580px
}
.section2 .header h1 , .section4 .header h1{
    font-size:3.4em;
    font-weight:bolder;
    padding-bottom:20px
}
.section2 .header span ,.section4 .header span{
    font-size:1.5em;
    max-width:100px;
    line-height:30px
}
.section2 .tv{
    position:relative;
    z-index:10;
}
.section2 .video1{
    position:absolute;
    right:230px;
    margin-top:90px;
}

/* Section 3 */
.section3 .cover,.section5 .cover{
    width:100vw;
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:8px solid rgb(205 205 205);;
}
.section3 .header,.section5 .header{
    color:white;
}
.section3 .header h1,.section5 .header h1{
    font-size:3.4em;
    font-weight:bolder;
    max-width:570px;
    padding-bottom:20px;
}
.section3 .header span,.section5 .header span{
    font-size:1.7em;
    display:block;
    max-width:632px;
    line-height:30px;
}
.section3 .template{
    width:350px;
    height:100px;
    border:1px solid gray;
    border-radius:10px;
}
.section3 .template>img{
    float: left;
    margin:10px
}
.section3 .template h3,p{
    color:white;  
}
.section3 p{
    color:#0071eb;
}
.section3 .raper{
   margin-top:30px;
   line-height:20px
}
.download_icon{
    position:relative;
    bottom:30px;
    left:209px;
}
.template{
    position:relative;
    bottom: 110px;
    left:140px;
    background-color: black;
}

/* Section 4 */
.section4 .tv{
    position:relative;
    z-index:10;
    top:0
}
.section4 .video2{
    position:absolute;
    right:270px;
}
.section4 .video2{
padding-top:45px;
padding-left:20px;
}

/* Section 6 */
.section6 h1{
    color:white;
    font-size: 3.4em;
    font-weight:bolder;
    text-align: center;
    padding-top:60px;
    padding-bottom: 20px;
}
.section6 .tags{
    width:1200px;
    height:85px;
    border:none;
    background-color: rgb(45, 45, 45);
    color:white;
    font-size:1.6em;
}
.section6 .tags p{
    position:relative;
    left:20px;
    top:30px
}
.section6 .cover{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   row-gap: 10px;
   border-bottom:8px solid rgb(116 112 112);

}
.section6 .tags .pluse_sign{
    float:right;
    position:relative;
    right:25px
}
.section6 .tags:hover{
    background-color: rgb(65 65 65);
}
.section6 .form p{
    font-size:1.4em;
    padding-bottom:15px
}
.section6 .form{
    padding-top:40px;
    padding-bottom:80px
}

/* footer */
footer .cover p{
    list-style:none;
    color:white;
    font-size:1em;
    font-weight: lighter;
    opacity: 0.70;
    text-decoration:underline;
    display:block;
    line-height:35px
}
footer .cover .columns{
    display:flex;
    height:300px;
    justify-content: space-around;
    max-width:1200px;
}
footer .cover > p{
    padding-left:90px;
    padding-top:50px;
    padding-bottom:10px;
    font-size:17px
}
footer .cover{
    padding-left:100px;
}
 footer .english_button{ 
   position: relative;
   top:10px;
   right:5px;
   margin-bottom:20px
}
footer .cover .net-ind{
    text-decoration: none;
}